<div class="view">
    <div class="view-title">
        <span class="pay-icon"></span>
        帮助中心
    </div>
    <div class="acti-tab">
        <table>
            <tr>
                <td class="acti-item acti-item-sort"><span class="acti-item-left"></span></td>
                <td class="acti-item">充值优惠</td>
                <td class="acti-item active">开宝箱赢惊喜</td>
                <td class="acti-item">永久佣金</td>
                <td class="acti-item">充值大赠送</td>
                <td class="acti-item">消费送上级</td>
                <td class="acti-item">亏损大赠送</td>
                <td class="acti-item acti-item-sort"><span class="acti-item-right"></span></td>
            </tr>
        </table>
    </div>
    <div class="acti-one acti1">
        <div class="acti-title">
            活动规则
        </div>
        <div class="acti-text">
            1、投注量达到18888元的用户，就有资格在第二天参与宝箱抢夺赛，期间将开放188个宝箱！<br>
            2、宝箱抢夺赛每天10:00点开始，截止到晚上12:00点，每位符合资格用户每天最多仅能抽取1次。<br>
            3、宝箱包含多种现金奖：8元、18元、58元、88元、158元、188元、588元、888元、1888元、5888元、8888元！更有限量iphone 5s, iphone 5c, iPad等你来抢！先到先得哟！派完为止！<br>
            注意事项:<br>
            1、本次活动现金奖励当天发放，实物奖励不可更换其他物品。<br>
            2、实物中奖用户需在中奖后的7个工作日内联系在线客服并提供详细奖品寄送信息，逾期将视为放弃领奖。<br>
            3、所有奖品均由供货商自行通过物流进行配送，巨彩娱乐不对奖品的配送负责，但会提供详细物流订单号供中奖用户查询物流实时信息。<br>
            4、如中奖用户提供的收货地址和收货人信息导致奖品配送不成功，巨彩娱乐不承担任何责任。<br>
            5、巨彩娱乐只负责奖品的采购、付款，对奖品的安全性、质量不做任何明示或暗示担保。奖品的质量、递送、售后服务、退货、换货、获奖者可与供货商或苹果售后联系，巨彩娱乐可提供有限范围的协助。<br>
            6、巨彩娱乐对于奖品的接受、持有、使用或误操作而造成的任何形式的损失或损害，不承担任何责任，巨彩娱乐也不承担因此所产生的任何费用。<br>
            7、会员一经参加活动视为遵守以上条款，巨彩娱乐对与本活动所有相关事项拥有最终决定与解释权。
        </div>
    </div>
    <div class="R_con">

    </div>
</div>