<div class="pad">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="21"><img src="../static/images/level/pub_tit_01.png" width="21" height="45" /></td>
      <td height="45" class="Pay_titbg">
        <div class="Pay_tit">用户中心</div>
        <div class="Pay_tit_tab">
          <ul>
            <a href="#/prefer/pass">
              <li ng-class="{select:tab=='pass'}" class="link">修改密码</li>
            </a>
            <a href="#/prefer/answer">
              <li ng-class="{select:tab=='answer'}" class="link">安全问题</li>
            </a>
            <a href="#/card">
              <li ng-class="{select:tab=='card'}" class="link">我的银行卡</li>
            </a>
            <a href="#/msg">
              <li ng-class="{select:tab=='msg'}" class="link">我的消息</li>
            </a>
          </ul>
        </div>
      </td>
      <td width="21"><img src="../static/images/level/pub_tit_03.png" width="21" height="45" /></td>
    </tr>
  </table>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table_s01">
  <tr>
    <td width="9"><img src="../static/images/level/tab02_top_l.png" width="9" height="8" /></td>
    <td class="table_s01_top_bg"></td>
    <td width="9"><img src="../static/images/level/tab02_top_r.png" width="9" height="8" /></td>
  </tr>
  <tr>
    <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
    <td valign="top" bgcolor="#eeeded">
      <div class="R_con">
        <div class="search" style="font-size:14px;">我的银行卡</div>
        <div class="line_s"></div>
        <div class="tip_bg_s">
          <div style="margin-left:20px;line-height:25px;margin-top:10px;margin-bottom:10px;"><b>使用提示：</b>
            <br /> 每个用户可绑定
            <span class="number card_max_num">{{sysConfig.maxCardNum}}</span>张银行卡</div>
        </div>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="table_s03" style="margin-top:15px;*margin-top:10px;float:left;">
          <tr>
            <th>银行名称</th>
            <th>卡号</th>
            <th>绑定时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="card in cards">
            <td align="center" bgcolor="#FFFFFF">{{card.bankName}}</td>
            <td align="center" bgcolor="#FFFFFF">尾号{{card.cardNum|limitTo:-4}}</td>
            <td align="center" bgcolor="#FFFFFF">{{card.bindTime}}</td>
            <td align="center" bgcolor="#FFFFFF">{{card.deleting?'申请删除中':'使用中'}}</td>
            <td align="center" bgcolor="#FFFFFF"><a ng-click="deleteCard(card)" href="">【删除】</a></td>
          </tr>
        </table>
        <div ng-show="through" style=" clear:both;height:24px; line-height:24px;padding-top:15px;">{{!lock?'您的银行卡己锁定':'状态正常'}}
          <div id="card_lock">
            <a ng-show="lock" ng-click="lockAction()" href="">
              <div class="bank_lock_s"></div>
            </a>
            <a ng-show="!lock" ng-click="lockAction()" href=""><img src="../static/images/level/jiesuo.png" width="94" height="26" align="absmiddle" /></a>
          </div>
        </div>
        <div class="search" style="margin-top:25px;*margin-top:16px;">
        </div>
       
      </div>
      <div ng-show="through&&lock&&(!cards||cards.length<sysConfig.maxCardNum)" class="R_con">
        <div class="search" style="font-size:14px;">绑定银行卡</div>
        <div class="line_s"></div>
        <div class="search" style="margin-top:35px;*margin-top:30px;">
          <div class="word" style="width:200px;text-align:right;">开户银行：</div>
          <div>
            <select ng-model="addingCard.Bank" ng-options="bank.sysBankName for bank in banks" class="input_3" style="width:200px;">
              <option>请选择 ...</option>
            </select>
          </div>
        </div>
        <div class="search" style="margin-top:15px;*margin-top:10px;">
          <div class="word" style="width:200px;text-align:right;">开户人姓名：</div>
          <div>
            <input ng-model="addingCard.Account" id="account-name" class="input_1 card-number" required="" name="account-name" type="text" maxlength="19" minlength="2" autocomplete="off" data-widget-cid="widget-25" data-explain="请输入开户人姓名。">
            <span class="ui-form-explain">请输入开户人姓名。</span>
          </div>
        </div>
        <div class="search" style="margin-top:15px;*margin-top:10px;">
          <div class="word" style="width:200px;text-align:right;">银行账号：</div>
          <div>
            <input ng-model="addingCard.Num" id="card-number" class="input_1 card-number" required="" name="card-number" data-rule="card" type="digits" autocomplete="off" data-widget-cid="widget-26" data-explain="请输入(19位数字)银行卡号。">
            <!-- maxlength="19" minlength="16" -->
            <span class="ui-form-explain">请输入(19位数字)银行卡号。</span>
          </div>
        </div>
        <div class="search" style="margin-top:15px;*margin-top:10px;">
          <div class="word" style="width:200px;text-align:right;">支行名称：</div>
          <div>
            <input ng-model="addingCard.Branch" id="card-branch" class="input_1 card-number" required="" name="card-number" data-rule="card" type="digits" autocomplete="off" data-widget-cid="widget-26" data-explain="请输入(19位数字)银行卡号。">
            <!-- maxlength="19" minlength="16" -->
            <span class="ui-form-explain">请输入银行的分行信息。</span>
          </div>
        </div>
        <div class="search" style="margin-top:15px;*margin-top:10px;">
          <div ng-show="status=='ok_card'" class="ui-tiptext-container ui-tiptext-container-success fn-clear " id="card_success_tip">
            <p class="ui-tiptext ui-tiptext-success">
              <i class="ui-tiptext-icon iconfont success" title="成功"></i> 添加成功!
            </p>
          </div>
          <div ng-click="addCard()" class="bank_bind_s"></div>
        </div>
        <div class="search" style="height:300px;"></div>
      </div>
    </td>
    <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="../static/images/level/tab02_bot_l.png" width="9" height="8" /></td>
    <td class="table_s01_bot_bg"></td>
    <td width="9"><img src="../static/images/level/tab02_bot_r.png" width="9" height="8" /></td>
  </tr>
</table>
</div>