<div class="view">
    <div class="view-title">
        <span class="pay-icon"></span>
        报表管理
    </div>
    <div class="view-tab">
        <a ng-click="bigtab=1" ng-class="{select:bigtab==1}" class="link">个人查询</a>
        <a ng-click="bigtab=2" ng-class="{select:bigtab==2}" class="link">游戏帐变查询</a>
        <a ng-click="bigtab=3" ng-class="{select:bigtab==3}" class="link">返点总额</a>
    </div>
    <div class="view-content">
        <div class="search-con clearfix">
            <span class="team-text">投注时间：</span>
            <input ng-model="startDate" id="asset_st" class="Wdate" type="text" style="width: 140px;" onClick="WdatePicker()">
            <span class="icon-time" onclick="WdatePicker({el:'asset_st'})"></span>
            <span class="team-text" style="margin-right: 10px;">至</span>
            <input ng-model="endDate" id="asset_et" class="Wdate" type="text" style="width: 140px;" onClick="WdatePicker()">
            <span class="icon-time" onclick="WdatePicker({el:'asset_et'})"></span>
            <span class="team-text" style="margin-left:12px;">游戏名称：</span>
            <select class="team-select">
                <option value="默认排序">所有游戏</option>
            </select>
            <span class="search-btn"></span>
        </div>
        <table class="table table-center mt10">
            <tr>
                <th>用户名</th>
                <th>所属组</th>
                <th>销售总额</th>
                <th>返点</th>
                <th>实际销售总额</th>
                <th>反奖总额</th>
                <th>总盈亏</th>
            </tr>
            <tr>
                <td>soulronk</td>
                <td>代理</td>
                <td>0.0000</td>
                <td>0.0000</td>
                <td>0.0000</td>
                <td>23.00</td>
                <td>23.00</td>
            </tr>
        </table>
    </div>
</div>
<!--
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="21"><img src="images/level/pub_tit_01.png" width="21" height="45"/></td>
        <td height="45" class="Pay_titbg">
            <div class="Pay_tit">{{tab=='ticket'?'游戏记录':'报表管理'}}</div>
            <div class="Pay_tit_tab">
                <ul>
                    <a href="#/data/lasset">
                        <li ng-class="{select:tab=='lasset'}" class="link">大厅账变</li>
                    </a>
                    <a href="#/data/ticket">
                        <li ng-class="{select:tab=='ticket'}" class="link">彩票投注</li>
                    </a>
                    <a href="#/data/asset">
                        <li ng-class="{select:tab=='asset'}" class="link">彩票账变</li>
                    </a>
                    <a href="#/data/profit">
                        <li ng-class="{select:tab=='profit'}" class="link">彩票盈亏</li>
                    </a>
                    <a href="#/data/agtran">
                        <li ng-class="{select:tab=='agtran'}" class="link">AG账变</li>
                    </a>
                    <a href="#/data/agbet">
                        <li ng-class="{select:tab=='agbet'}" class="link">AG游戏记录</li>
                    </a>
                    <a href="#/data/AgProfit">
                        <li ng-class="{select:tab=='AgProfit'}" class="link">AG盈亏</li>
                    </a>
                    <a href="#/data/team">
                        <li ng-class="{select:tab=='team'}" class="link">团队余额</li>
                    </a>
                </ul>
            </div>
        </td>
        <td width="21"><img src="images/level/pub_tit_03.png" width="21" height="45"/></td>
    </tr>
</table>
<table ng-show="tab=='ticket'" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
       class="table_s01">
    <tr>
        <td width="9"><img src="images/level/tab02_top_l.png" width="9" height="8"/></td>
        <td class="table_s01_top_bg"></td>
        <td width="9"><img src="images/level/tab02_top_r.png" width="9" height="8"/></td>
    </tr>
    <tr>
        <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
        <td valign="top" bgcolor="#eeeded">
            <div class="R_con">
                <div ng-show="!searchCancel" class="R_con_lie1">
                    <ul>
                        <li>查找时间:</li>
                        <li>
                            <input ng-model="startDate" id="d4311" class="Wdate fn-left ui-input" type="text"
                                   onClick="WdatePicker()">
                        </li>
                        <li>
                        </li>
                        <li>到</li>
                        <li>
                            <input ng-model="endDate" id="d4312" class="Wdate fn-left ui-input" type="text"
                                   onClick="WdatePicker()">
                        </li>
                        <li>彩种:</li>
                        <li ng-init="search.gameName=search.gameNames[0]">
                            <select ng-model="search.gameName" ng-options="a.name for a in search.gameNames"
                                    class="form-control input_3"></select>
                        </li>
                        <li>玩法:</li>
                        <li ng-init="search.gameMethod=search.gameMethods[0]">
                            <select ng-model="search.gameMethod" ng-options="a.name for a in search.gameMethods"
                                    class="form-control input_3"></select>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" ng-model="showChase"> 显示追号 </label>
                            <a ng-click="page_index=1;go()" href="javascript:;"><img src="images/level/chazhao.png"
                                                                                     width="66" height="26"
                                                                                     align="absmiddle"/></a>
                        </li>
                        <li>
                            <a ng-click="searchCancel=true" class="fn-right" href="javascript:;">查找撤单记录&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
                &lt;!&ndash; ng-show="results.length>0" &ndash;&gt;
                <div ng-show="1==2" class="R_con_lie1">
                    <ul>
                        <li>游戏名称:</li>
                        <li>
                            <select class="input_3" ng-init="game=search.gameConditions[0].options[0].value"
                                    style="width:140px;" class="form-control" ng-model="game">
                                <option ng-repeat="option in search.gameConditions[0].options"
                                        value="{{option.value}}">{{option.name}}
                                </option>
                            </select>
                        </li>
                        <li>游戏玩法:</li>
                        <li>
                            <select class="input_3" ng-init="method=search.gameConditions[1].options[0].value"
                                    style="width:140px;" class="form-control" ng-model="method">
                                <option ng-repeat="option in search.gameConditions[1].options"
                                        value="{{option.value}}">{{option.name}}
                                </option>
                            </select>
                        </li>
                        <li>游戏奖期:</li>
                        <li>
                            <select class="input_3" ng-init="period=search.gameConditions[2].options[0].value"
                                    style="width:140px;" class="form-control" ng-model="period">
                                <option ng-repeat="option in search.gameConditions[2].options"
                                        value="{{option.value}}">{{option.name}}
                                </option>
                            </select>
                        </li>
                        <li>游戏模式:</li>
                        <li>
                            <select class="input_3" ng-init="mode=search.gameConditions[3].options[0].value"
                                    style="width:140px;" class="form-control" ng-model="mode">
                                <option ng-repeat="option in search.gameConditions[3].options"
                                        value="{{option.value}}">{{option.name}}
                                </option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div ng-show="searchCancel" class="R_con_lie1 ht-60 record-search-option fn-clear">
                    <div class="record-search-option-type pt-15 fn-clear">
                        <a ng-click="searchCancel=false" class="record-history-link" href="javascript:;">&lt;&lt;返回查找</a>
                        &lt;!&ndash;用户名end&ndash;&gt;
                        <div class="mt-15 fn-left ">
                            <button ng-click="getCancel()" class="ui-button ui-button-lblue">最近三十天</button>
                            <button ng-click="getCancel(90)" class="ui-button ui-button-lblue">最近九十天</button>
                        </div>
                    </div>
                </div>
                <div ng-show="!searchCancel" class="R_con_lie1">
                    <ul>
                        <li>游戏用户:</li>
                        <li>
                            <input ng-model="subordinate" type="text" id="s_username" value="" name="username"
                                   style="ime-mode: disabled" class="input_4 ">
                        </li>
                        <li>范围:</li>
                        <li ng-init="search.uoption=search.userRange[1]">
                            <select class="input_3" ng-model="search.uoption"
                                    ng-options="a.name for a in search.userRange" class="form-control"></select>
                        </li>
                        <li>注单编号:</li>
                        <li>
                            <input class="input_4" id="Intelligent" type="text" ng-model="Intelligent"/>
                        </li>
                        <li class="font02">温馨提示: 点击注单编号可以查看详细注单信息以及撤单.</li>
                    </ul>
                </div>
                <div class="line_style01"></div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="table_s03">
                    <tr>
                        <th>编号</th>
                        <th>用户</th>
                        <th>投注时间</th>
                        <th>游戏</th>
                        <th>玩法</th>
                        <th>期号</th>
                        <th>倍数</th>
                        <th>模式</th>
                        <th>号码</th>
                        <th>总金额</th>
                        <th>中奖金额</th>
                        <th>状态</th>
                        <th ng-show="showChase">追号</th>
                        <th>操作</th>
                    </tr>
                    <tr class="J-item td-bg-white"
                        ng-repeat="r in results|ticketsFilter:game:method:period:mode:status:start:end|filter:Intelligent|orderBy:'-orderTime'">
                        <td>
                                <span style="cursor:pointer;" ng-click="showTicket(r)" title="{{r.code}}"
                                      class="ori-num">{{r.code}}</span>
                        </td>
                        <td>{{r.owner}}</td>
                        <td>{{moment(r.orderTime).format('YYYY-MM-DD H:mm:ss')}}</td>
                        <td>{{vocabulary.name(r.game)}}</td>
                        <td>
                            {{vocabulary.name(r.method)}}
                        </td>
                        <td>
                            {{r.period}}
                        </td>
                        <td>
                            {{r.multi}}
                        </td>
                        <td>
                            {{vocabulary.name(r.mode)}}
                        </td>
                        <td>
                            <span ng-click="showNumber(r)" title="{{r.originalNumbers}}" class="ori-num">{{showLiteral(r.game,r.method,r.originalNumbers)}}</span>

                            <div class="num-tip font02 shownum{{r.code}} fn-hide" style="position:relative;">&nbsp;
                                <div class="tip_order">
                                    <div class="head_o">号码详情：</div>
                                    <div class="area_o">{{showLiteral(r.game,r.method,r.originalNumbers)}}</div>
                                    <div class="close_o"><a ng-click="dismissNumber(r)" href="javascript:;">【关闭】</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{r.amount}}</td>
                        <td>{{r.prize|number:2}}</td>
                        <td ng-class="{'LOTTERY':r.won}" class="{{r.status}}">
                            {{r.won?'已中奖':vocabulary.name(r.status)}}
                        </td>
                        <td ng-show="showChase">
                            <a style="color: #08c;cursor:pointer;" ng-click="showBundle(r)"
                               ng-show="r.bundle">查看</a>
                            <span ng-show="!r.bundle">否</span>
                        </td>
                        <td>
                            <a ng-click="dismantle(r)"
                               ng-show="r.status=='ORDERED'&&r.owner==d.user.userName">撤单</a>
                            <a style="display:none;" ng-click="dismantle2(r)"
                               ng-show="r.status=='ORDERED'&&r.owner==d.user.userName">撤单</a>
                        </td>
                    </tr>
                </table>
                <div class="page" ng-show="page_total > 0" ng-init="page_index=1">
                    <ul>
                        <li>总计</li>
                        <li><b>{{result_count}}</b></li>
                        <li>条数据，共</li>
                        <li><b>{{page_total}}</b></li>
                        <li>页，当前第</li>
                        <li><b>{{page_index}}</b></li>
                        <li>页</li>
                        <a href="javascript:;" ng-show="page_index>1" ng-click="pre()">
                            <li>
                                <div class="li_select">上一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index==1">
                            <div class="li">上一页</div>
                        </li>
                        <a href="javascript:;" ng-show="page_index <page_total" ng-click="next()">
                            <li>
                                <div class="li_select">下一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index ==page_total">
                            <div class="li">下一页</div>
                        </li>
                        <li>转至</li>
                        <li>
                            <input ng-model="page_index" type="text" name="textfield" id="textfield"
                                   class="input_2"/>
                        </li>
                        <li>页</li>
                        <li><img ng-click="go()" src="images/level/go.png" width="28" height="26"/></li>
                    </ul>
                </div>
            </div>
        </td>
        <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/level/tab02_bot_l.png" width="9" height="8"/></td>
        <td class="table_s01_bot_bg"></td>
        <td width="9"><img src="images/level/tab02_bot_r.png" width="9" height="8"/></td>
    </tr>
</table>
<table ng-show="tab=='asset'||tab=='lasset'" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
       class="table_s01">
    <tr>
        <td width="9"><img src="images/level/tab02_top_l.png" width="9" height="8"/></td>
        <td class="table_s01_top_bg"></td>
        <td width="9"><img src="images/level/tab02_top_r.png" width="9" height="8"/></td>
    </tr>
    <tr>
        <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
        <td valign="top" bgcolor="#eeeded">
            <div class="R_con">
                <div class="search" style="height:60px;">
                    <div class="word" style="margin-left:20px;">时间：</div>
                    <div style="float:left">
                        <input ng-model="startDate" id="asset_st" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker()">
                    </div>
                    <div class="word" style="width:25px;text-align:center;">到</div>
                    <div style="float:left;">
                        <input ng-model="endDate" id="asset_et" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker()">
                    </div>
                    <div class="word" style="margin-left:20px;">类型：</div>
                    <div ng-show="tab=='asset'" class="word">
                        <select multiple ng-model="selectedValues"
                                style="position:absolute;height:100px;padding:4px 6px;" class="input_3">
                            <option ng-repeat="a in types" ng-value="a.label">{{a.name}}</option>
                        </select>
                    </div>
                    <div ng-show="tab=='lasset'" class="word">
                        <select multiple ng-model="fundinTypes"
                                style="position:absolute;height:100px;padding:4px 6px;" class="input_3">
                            <option ng-repeat="a in lobbyTypes" ng-value="a.label">{{a.name}}</option>
                        </select>
                    </div>
                    <div ng-click="fundinTypes=null" class="word" style="margin-left:100px;">&lt;&lt;清除(按住Ctrl
                        可以复选,Ctrl+A 全选)
                    </div>
                </div>
                <div class="search" style="margin-top:5px;*margin-top:0px;">
                    <div class="word" style="margin-left:20px;">用户名：</div>
                    <div style="float:left;">
                        <input ng-model="subordinate" type="text" class="input_s" style="width:100px;"/>
                    </div>
                    <div class="word" style="margin-left:20px;">范围：</div>
                    <div ng-init="searchasset.uoption=searchasset.userRange[1]" style="float:left;">
                        <select ng-model="searchasset.uoption" ng-options="a.name for a in searchasset.userRange"
                                class="form-control input_3"></select>
                    </div>
                    <div style="float:left;margin-left:220px;margin-top:-3px;">
                        <a ng-click="page_index=1;goAsset()" href="javascript:;"><img src="images/level/chazhao.png"
                                                                                      width="66" height="26"
                                                                                      align="absmiddle"/></a>
                    </div>
                </div>
                <div class="blank_s"></div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="table_s03">
                    <tr>
                        <th>编号</th>
                        <th>用户</th>
                        <th>账变时间</th>
                        <th>金额</th>
                        <th>账变后金额</th>
                        <th>类型</th>
                        <th ng-show="tab=='lasset'">备注</th>
                    </tr>
                    <tr class="J-item td-bg-white"
                        ng-repeat="r in results|typeFilter:selectedValues|orderBy:['-created','-id']">
                        <td><span ng-if="tab=='asset'" style="cursor:pointer;" ng-click="showChangeTicket(r)"
                                  class="ori-num">{{r.id}}</span><span ng-if="tab=='lasset'">{{r.id}}</span></td>
                        <td>{{r.owner}}</td>
                        <td>{{r.created}}</td>
                        <td>{{r.cate}}:{{r.change|number:2}}</td>
                        <td>{{r.cate}}:{{r.post|number:2}}</td>
                        <td>{{r.label}}</td>
                        <td ng-show="tab=='lasset'">{{r.memo}}</td>
                    </tr>
                </table>
                <div class="page" ng-show="page_total > 0" ng-init="page_index=1">
                    <ul>
                        <li>总计</li>
                        <li><b>{{result_count}}</b></li>
                        <li>条数据，共</li>
                        <li><b>{{page_total}}</b></li>
                        <li>页，当前第</li>
                        <li><b>{{page_index}}</b></li>
                        <li>页</li>
                        <a href="javascript:;" ng-show="page_index>1" ng-click="preAsset()">
                            <li>
                                <div class="li_select">上一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index==1">
                            <div class="li">上一页</div>
                        </li>
                        <a href="javascript:;" ng-show="page_index <page_total" ng-click="nextAsset()">
                            <li>
                                <div class="li_select">下一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index ==page_total">
                            <div class="li">下一页</div>
                        </li>
                        <li>转至</li>
                        <li>
                            <input ng-model="page_index" type="text" name="textfield" id="textfield"
                                   class="input_2"/>
                        </li>
                        <li>页</li>
                        <li><img ng-click="goAsset()" src="images/level/go.png" width="28" height="26"/></li>
                    </ul>
                </div>
            </div>
        </td>
        <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/level/tab02_bot_l.png" width="9" height="8"/></td>
        <td class="table_s01_bot_bg"></td>
        <td width="9"><img src="images/level/tab02_bot_r.png" width="9" height="8"/></td>
    </tr>
</table>
<table ng-show="tab=='profit'||tab=='AgProfit'" width="100%" border="0" align="center" cellpadding="0"
       cellspacing="0" class="table_s01">
    <tr>
        <td width="9"><img src="images/level/tab02_top_l.png" width="9" height="8"/></td>
        <td class="table_s01_top_bg"></td>
        <td width="9"><img src="images/level/tab02_top_r.png" width="9" height="8"/></td>
    </tr>
    <tr>
        <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
        <td valign="top" bgcolor="#eeeded">
            <div class="R_con">
                <div class="search">
                    <div class="word">时间：</div>
                    <div style="float:left">
                        <input ng-model="startDate" id="p_sd" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker({maxDate:'#F{$dp.$D(\'p_ed\')||\'%y-%M-{%d-1}\'}'})">
                    </div>
                    <div class="word" style="width:25px;text-align:center;">到</div>
                    <div style="float:left;">
                        <input ng-model="endDate" id="p_ed" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker({minDate:'#F{$dp.$D(\'p_sd\')}',maxDate:'%y-%M-{%d-1}'})">
                    </div>
                    <div class="word" style="margin-left:20px;">用户名：</div>
                    <div style="float:left;">
                        <input ng-model="subordinate" type="text" id="s_username" value="" name="username"
                               style="ime-mode: disabled" class="ui-input ">
                    </div>
                    <div style="float:left;margin-left:10px;margin-top:-3px;">
                        <a ng-click="goprofit()" href="javascript:;"><img src="images/level/chazhao.png" width="66"
                                                                          height="26" align="absmiddle"/></a>
                    </div>
                </div>
                <div class="search" style="line-height:22px;">
                    说明：查询日期不是自然日期
                    <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)查询时间固定为开始日期的03:00:00到结束日期的03:00:00,只能修改查询日期
                    <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)所有金额总额为指定时间内产生对应账变的总金额:如果前一天购买的单子，今天进行派奖或者返点，此时的派奖金额与返点金额计入当天报表中。
                </div>
                <div class="line_s"></div>
                <div class="blank_s"></div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="table_s03">
                    <caption style="text-align:right;">
                        <ul class="breadcrumb">
                            <li style="float:left" ng-repeat="path in paths">
                                <span ng-if="$index>0">>></span>
                                <a style="color:#1518DB;cursor:pointer;" class="ui-button-text"
                                   ng-if="$index!=paths.length-1" ng-click="goprofit(path)">{{path}}</a>
                                <span style="cursor:default" ng-if="$index===paths.length-1">{{path}}</span>
                            </li>
                        </ul>
                        <span>共{{data.length}}笔记录</span>
                    </caption>
                    <tr>
                        <th ng-click="theorder=(theorder==='-username'?'username':'-username')">
                            用户名{{theorder==='username'?'（升序）':''}}{{theorder==='-username'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-level'?'level':'-level')">
                            返点级别{{theorder==='level'?'（升序）':''}}{{theorder==='-level'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupRecharge'?'groupRecharge':'-groupRecharge')">
                            充值总额{{theorder==='groupRecharge'?'（升序）':''}}{{theorder==='-groupRecharge'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupWithdraw'?'groupWithdraw':'-groupWithdraw')">
                            提现总额{{theorder==='groupWithdraw'?'（升序）':''}}{{theorder==='-groupWithdraw'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupSaleAmount'?'groupSaleAmount':'-groupSaleAmount')">
                            销售总额{{theorder==='groupSaleAmount'?'（升序）':''}}{{theorder==='-groupSaleAmount'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupBrokerageAmount'?'groupBrokerageAmount':'-groupBrokerageAmount')">
                            返点总额{{theorder==='groupBrokerageAmount'?'（升序）':''}}{{theorder==='-groupBrokerageAmount'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupLotteryAmount'?'groupLotteryAmount':'-groupLotteryAmount')">
                            {{tab=='AgProfit'?'玩家输赢额度':'中奖总额'}}{{theorder==='groupLotteryAmount'?'（升序）':''}}{{theorder==='-groupLotteryAmount'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupProfit'?'groupProfit':'-groupProfit')">
                            游戏总盈亏{{theorder==='groupProfit'?'（升序）':''}}{{theorder==='-groupProfit'?'（降序）':''}}
                        </th>
                    </tr>
                    <tr ng-show="results.firstrow&&tab=='profit'" class="J-item"
                        style="background-color:#c4e3f3;font-size:14px;color:black;">
                        <td>{{results.firstrow.username}}</td>
                        <td>{{results.firstrow.level}}</td>
                        <td>{{results.firstrow.recharge|number:2}}</td>
                        <td>{{results.firstrow.withdraw|number:2}}</td>
                        <td>{{results.firstrow.saleAmount|number:2}}</td>
                        <td>{{results.firstrow.brokerageAmount|number:2}}</td>
                        <td>{{results.firstrow.lotteryAmount|number:2}}</td>
                        <td>{{results.firstrow.profit|number:2}}</td>
                    </tr>
                    <tr ng-show="results.firstrow&&tab=='AgProfit'" class="J-item"
                        style="background-color:#c4e3f3;font-size:14px;color:black;">
                        <td>{{results.firstrow.username}}</td>
                        <td>{{results.firstrow.level}}</td>
                        <td>{{results.firstrow.recharge|number:2}}</td>
                        <td>{{results.firstrow.withdraw|number:2}}</td>
                        <td>{{results.firstrow.groupSaleAmount|number:2}}</td>
                        <td>{{results.firstrow.groupBrokerageAmount|number:2}}</td>
                        <td>{{results.firstrow.groupLotteryAmount|number:2}}</td>
                        <td>{{results.firstrow.groupProfit|number:2}}</td>
                    </tr>
                    <tr ng-hide="r.username==results.firstrow.username" class="J-item td-bg-white "
                        ng-repeat="r in data|orderBy:theorder">
                        <td ng-show="r.hasChildren"><a style="color:#1518DB;cursor:pointer;"
                                                       ng-click="goprofit(r.username)" id="J-set-query-form"
                                                       class="ui-button-text">{{r.username}}</a>
                        </td>
                        <td ng-show="!r.hasChildren">{{r.username}}</td>
                        <td>{{r.level}}</td>
                        <td class="td-right">{{r.groupRecharge|number:2}}</td>
                        <td class="td-right">{{r.groupWithdraw|number:2}}</td>
                        <td class="td-right">{{r.groupSaleAmount|number:2}}</td>
                        <td class="td-right">{{r.groupBrokerageAmount|number:2}}</td>
                        <td class="td-right">{{r.groupLotteryAmount|number:2}}</td>
                        <td class="td-right">{{r.groupProfit|number:2}}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="td-bg-white">
                        <td colspan="2" align="center">合计</td>
                        <td class="td-right">{{results.total.groupRecharge|number:2}}</td>
                        <td class="td-right">{{results.total.groupWithdraw|number:2}}</td>
                        <td class="td-right">{{results.total.groupSaleAmount|number:2}}</td>
                        <td class="td-right">{{results.total.groupBrokerageAmount|number:2}}</td>
                        <td class="td-right">{{results.total.groupLotteryAmount|number:2}}</td>
                        <td class="td-right">{{results.total.groupProfit|number:2}}</td>
                    </tr>
                    <tr>
                        <th ng-click="theorder=(theorder==='-username'?'username':'-username')">
                            用户名{{theorder==='username'?'（升序）':''}}{{theorder==='-username'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-level'?'level':'-level')">
                            返点级别{{theorder==='level'?'（升序）':''}}{{theorder==='-level'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupRecharge'?'groupRecharge':'-groupRecharge')">
                            充值总额{{theorder==='groupRecharge'?'（升序）':''}}{{theorder==='-groupRecharge'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupWithdraw'?'groupWithdraw':'-groupWithdraw')">
                            提现总额{{theorder==='groupWithdraw'?'（升序）':''}}{{theorder==='-groupWithdraw'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupSaleAmount'?'groupSaleAmount':'-groupSaleAmount')">
                            销售总额{{theorder==='groupSaleAmount'?'（升序）':''}}{{theorder==='-groupSaleAmount'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupBrokerageAmount'?'groupBrokerageAmount':'-groupBrokerageAmount')">
                            返点总额{{theorder==='groupBrokerageAmount'?'（升序）':''}}{{theorder==='-groupBrokerageAmount'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupLotteryAmount'?'groupLotteryAmount':'-groupLotteryAmount')">
                            {{tab=='AgProfit'?'玩家输赢额度':'中奖总额'}}{{theorder==='groupLotteryAmount'?'（升序）':''}}{{theorder==='-groupLotteryAmount'?'（降序）':''}}
                        </th>
                        <th ng-click="theorder=(theorder==='-groupProfit'?'groupProfit':'-groupProfit')">
                            游戏总盈亏{{theorder==='groupProfit'?'（升序）':''}}{{theorder==='-groupProfit'?'（降序）':''}}
                        </th>
                    </tr>
                </table>
            </div>
        </td>
        <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/level/tab02_bot_l.png" width="9" height="8"/></td>
        <td class="table_s01_bot_bg"></td>
        <td width="9"><img src="images/level/tab02_bot_r.png" width="9" height="8"/></td>
    </tr>
</table>
<table ng-show="tab=='team'" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
       class="table_s01">
    <tbody>
    <tr>
        <td width="9"><img src="images/level/tab02_top_l.png" width="9" height="8"></td>
        <td class="table_s01_top_bg"></td>
        <td width="9"><img src="images/level/tab02_top_r.png" width="9" height="8"></td>
    </tr>
    <tr>
        <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
        <td valign="top" bgcolor="#eeeded">
            <div class="R_con">
                <div class="search" style="height:660px;font-size:14px;padding-top:30px;">
                    <table width="100%">
                        <tbody>
                        <tr height="25">
                            <td align="right">用户名：</td>
                            <td><b>{{d.user.userName}}</b></td>
                        </tr>
                        <tr height="25">
                            <td align="right">团队人数：</td>
                            <td><b>{{subTeamInfo[2]}}</b></td>
                        </tr>
                        <tr height="25">
                            <td align="right">大厅余额：</td>
                            <td><b>{{subTeamInfo[0]|number:2}}</b></td>
                        </tr>
                        <tr height="25">
                            <td align="right">彩票余额：</td>
                            <td><b>{{subTeamInfo[1]|number:2}}</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
        <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/level/tab02_bot_l.png" width="9" height="8"></td>
        <td class="table_s01_bot_bg"></td>
        <td width="9"><img src="images/level/tab02_bot_r.png" width="9" height="8"></td>
    </tr>
    </tbody>
</table>
<table ng-show="tab=='agtran'" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
       class="table_s01">
    <tr>
        <td width="9"><img src="images/level/tab02_top_l.png" width="9" height="8"/></td>
        <td class="table_s01_top_bg"></td>
        <td width="9"><img src="images/level/tab02_top_r.png" width="9" height="8"/></td>
    </tr>
    <tr>
        <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
        <td valign="top" bgcolor="#eeeded">
            <div class="R_con">
                <div class="search" style="height:60px;">
                    <div class="word" style="margin-left:20px;">时间：</div>
                    <div style="float:left">
                        <input ng-model="startDate" id="tran_asset_st" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker()">
                    </div>
                    <div class="word" style="width:25px;text-align:center;">到</div>
                    <div style="float:left;">
                        <input ng-model="endDate" id="tran_asset_et" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker()">
                    </div>
                    &lt;!&ndash; <div class="word" style="margin-left:20px;">类型：</div>
                    <div class="word">
                      <select multiple ng-model="selectedValues" style="position:absolute;height:100px;padding:4px 6px;" class="input_3">
                        <option ng-repeat="a in agtrantypes" ng-value="a.label">{{a.name}}</option>
                      </select>
                    </div>

                    <div ng-click="selectedValues=null" class="word" style="margin-left:100px;">&lt;&lt;清除(按住Ctrl 可以复选,Ctrl+A 全选)</div> &ndash;&gt;
                </div>
                <div class="search" style="margin-top:5px;*margin-top:0px;">
                    <div class="word" style="margin-left:20px;">用户名：</div>
                    <div style="float:left;">
                        <input ng-model="subordinate" type="text" class="input_s" style="width:100px;"/>
                    </div>
                    <div class="word" style="margin-left:20px;">范围：</div>
                    <div ng-init="searchasset.uoption=searchasset.userRange[1]" style="float:left;">
                        <select ng-model="searchasset.uoption" ng-options="a.name for a in searchasset.userRange"
                                class="form-control input_3"></select>
                    </div>
                    <div style="float:left;margin-left:220px;margin-top:-3px;">
                        <a ng-click="page_index=1;goAgAsset()" href="javascript:;"><img
                                src="images/level/chazhao.png" width="66" height="26" align="absmiddle"/></a>
                    </div>
                </div>
                <div class="blank_s"></div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="table_s03">
                    <tr>
                        <th>编号</th>
                        <th>用户</th>
                        <th>账变时间</th>
                        <th>金额</th>
                        <th>账变后金额</th>
                        &lt;!&ndash; <th>类型</th> &ndash;&gt;
                        &lt;!&ndash; <th>备注</th> &ndash;&gt;
                    </tr>
                    <tr class="J-item td-bg-white" ng-repeat="r in results">
                        <td><span style="cursor:pointer;" ng-click="showTranRecord(r)" class="ori-num">{{r.transferId}}</span>
                        </td>
                        <td>{{r.playerName}}</td>
                        <td>{{moment(r.localCreationTime).format('YYYY-MM-DD HH:mm:ss')}}</td>
                        <td>{{r.transferAmount}}</td>
                        <td>{{r.currentAmount}}</td>
                        &lt;!&ndash; <td>{{r.flag}}</td> &ndash;&gt;
                        &lt;!&ndash; <td>{{r.memo}}</td> &ndash;&gt;
                    </tr>
                </table>
                <div class="page" ng-show="page_total > 0" ng-init="page_index=1">
                    <ul>
                        <li>总计</li>
                        <li><b>{{result_count}}</b></li>
                        <li>条数据，共</li>
                        <li><b>{{page_total}}</b></li>
                        <li>页，当前第</li>
                        <li><b>{{page_index}}</b></li>
                        <li>页</li>
                        <a href="javascript:;" ng-show="page_index>1" ng-click="preAgAsset()">
                            <li>
                                <div class="li_select">上一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index==1">
                            <div class="li">上一页</div>
                        </li>
                        <a href="javascript:;" ng-show="page_index <page_total" ng-click="nextAgAsset()">
                            <li>
                                <div class="li_select">下一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index ==page_total">
                            <div class="li">下一页</div>
                        </li>
                        <li>转至</li>
                        <li>
                            <input ng-model="page_index" type="text" name="textfield" id="textfield"
                                   class="input_2"/>
                        </li>
                        <li>页</li>
                        <li><img ng-click="goAgAsset()" src="images/level/go.png" width="28" height="26"/></li>
                    </ul>
                </div>
            </div>
        </td>
        <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/level/tab02_bot_l.png" width="9" height="8"/></td>
        <td class="table_s01_bot_bg"></td>
        <td width="9"><img src="images/level/tab02_bot_r.png" width="9" height="8"/></td>
    </tr>
</table>
<table ng-show="tab=='agbet'" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
       class="table_s01">
    <tr>
        <td width="9"><img src="images/level/tab02_top_l.png" width="9" height="8"/></td>
        <td class="table_s01_top_bg"></td>
        <td width="9"><img src="images/level/tab02_top_r.png" width="9" height="8"/></td>
    </tr>
    <tr>
        <td width="9" class="table_s01_top_l_bg">&nbsp;</td>
        <td valign="top" bgcolor="#eeeded">
            <div class="R_con">
                <div class="search" style="height:60px;">
                    <div class="word" style="margin-left:20px;">时间：</div>
                    <div style="float:left">
                        <input ng-model="startDate" id="bet_asset_st" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker()">
                    </div>
                    <div class="word" style="width:25px;text-align:center;">到</div>
                    <div style="float:left;">
                        <input ng-model="endDate" id="bet_asset_et" class="Wdate fn-left ui-input" type="text"
                               onClick="WdatePicker()">
                    </div>
                    <div class="word" style="margin-left:20px;">类型：</div>
                    <div class="word">
                        <select multiple ng-model="selectedValues"
                                style="position:absolute;height:100px;padding:4px 6px;" class="input_3">
                            <option ng-repeat="a in agtrantypes" ng-value="a.label">{{a.name}}</option>
                        </select>
                    </div>

                    <div ng-click="selectedValues=null" class="word" style="margin-left:100px;">&lt;&lt;清除(按住Ctrl
                        可以复选,Ctrl+A 全选)
                    </div>
                </div>
                <div class="search" style="margin-top:5px;*margin-top:0px;">
                    <div class="word" style="margin-left:20px;">用户名：</div>
                    <div style="float:left;">
                        <input ng-model="subordinate" type="text" class="input_s" style="width:100px;"/>
                    </div>
                    <div class="word" style="margin-left:20px;">范围：</div>
                    <div ng-init="searchasset.uoption=searchasset.userRange[1]" style="float:left;">
                        <select ng-model="searchasset.uoption" ng-options="a.name for a in searchasset.userRange"
                                class="form-control input_3"></select>
                    </div>
                    <div style="float:left;margin-left:250px;margin-top:-3px;">
                        <a ng-click="page_index=1;goAgAsset()" href="javascript:;"><img
                                src="images/level/chazhao.png" width="66" height="26" align="absmiddle"/></a>
                    </div>
                </div>
                <div class="blank_s"></div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="table_s03">
                    <tr>
                        <th>编号</th>
                        <th>用户</th>
                        <th>账变时间</th>
                        <th>投注金额</th>
                        <th>玩家输赢额度</th>
                        <th>类型</th>
                        &lt;!&ndash; <th>备注</th> &ndash;&gt;
                    </tr>
                    <tr class="J-item td-bg-white" ng-repeat="r in results">
                        <td><span style="cursor:pointer;" ng-click="showBetRecord(r)"
                                  class="ori-num">{{r.billNo}}</span></td>
                        <td>{{r.playerName}}</td>
                        <td>{{moment(r.localBetTime).format('YYYY-MM-DD HH:mm:ss')}}</td>
                        <td>{{r.betAmount}}</td>
                        <td>{{r.netAmount}}</td>
                        <td>{{r.flag}}</td>
                        &lt;!&ndash; <td>{{r.memo}}</td> &ndash;&gt;
                    </tr>
                </table>
                <div class="page" ng-show="page_total > 0" ng-init="page_index=1">
                    <ul>
                        <li>总计</li>
                        <li><b>{{result_count}}</b></li>
                        <li>条数据，共</li>
                        <li><b>{{page_total}}</b></li>
                        <li>页，当前第</li>
                        <li><b>{{page_index}}</b></li>
                        <li>页</li>
                        <a href="javascript:;" ng-show="page_index>1" ng-click="preAgAsset()">
                            <li>
                                <div class="li_select">上一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index==1">
                            <div class="li">上一页</div>
                        </li>
                        <a href="javascript:;" ng-show="page_index <page_total" ng-click="nextAgAsset()">
                            <li>
                                <div class="li_select">下一页</div>
                            </li>
                        </a>
                        <li ng-show="page_index ==page_total">
                            <div class="li">下一页</div>
                        </li>
                        <li>转至</li>
                        <li>
                            <input ng-model="page_index" type="text" name="textfield" id="textfield"
                                   class="input_2"/>
                        </li>
                        <li>页</li>
                        <li><img ng-click="goAgAsset()" src="images/level/go.png" width="28" height="26"/></li>
                    </ul>
                </div>
            </div>
        </td>
        <td width="9" class="table_s01_top_r_bg">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/level/tab02_bot_l.png" width="9" height="8"/></td>
        <td class="table_s01_bot_bg"></td>
        <td width="9"><img src="images/level/tab02_bot_r.png" width="9" height="8"/></td>
    </tr>
</table>

<div class="fn-hide" id="vt">
    <table class="ui-table ui-table-inbox" style="border:0;">
        <tr>
            <td>单号：</td>
            <td colspan="3">{{viewingTicket.code}}</td>
            <td>是否追号：</td>
            <td>{{viewingTicket.bundle?'是':'否'}}</td>
        </tr>
        <tr>
            <td>游戏：</td>
            <td>{{vocabulary.name(viewingTicket.game)}}</td>
            <td>玩法：</td>
            <td>{{vocabulary.name(viewingTicket.method)}}</td>
            <td>投注号码：</td>
            <td>
                <p style="width: 106px;max-height: 66px;overflow-y: auto;display: inline-block; word-break: break-word;">
                    {{showLiteral(viewingTicket.game,viewingTicket.method,viewingTicket.originalNumbers)}}</p>
            </td>
        </tr>
        <tr>
            <td>模式：</td>
            <td>{{vocabulary.name(viewingTicket.mode)}}</td>
            <td>倍数：</td>
            <td>{{viewingTicket.multi}}</td>
            <td>开奖号码：</td>
            <td>{{viewingTicket.numbers}}</td>
        </tr>
        <tr>
            <td>投注时间：</td>
            <td>{{moment(viewingTicket.orderTime).format('YYYY-MM-DD HH:mm:ss')}}</td>
            <td>期号：</td>
            <td>{{viewingTicket.period}}</td>
            <td>中奖金额：</td>
            <td>{{viewingTicket.prize|number:4}}</td>
        </tr>
        <tr>
            <td>投注金额：</td>
            <td>{{viewingTicket.amount}}</td>
            <td>返点率：</td>
            <td>{{viewingTicket.brokerage/10}}%</td>
            <td>状态：</td>
            <td>{{viewingTicket.won?'已中奖':vocabulary.name(viewingTicket.status)}}</td>
        </tr>
    </table>
</div>
<div class="fn-hide" id="tranvt">
    <table class="ui-table ui-table-inbox" style="border:0;">
        <tr>
            <td>玩家账号：</td>
            <td>{{vtran.playerName}}</td>
            <td>转账编号：</td>
            <td colspan="3">{{vtran.transferId}}</td>
        </tr>
        <tr>
            <td>交易编号：</td>
            <td>{{vtran.tradeNo}}</td>
            <td>平台类型：</td>
            <td>{{vtran.platformType}}</td>
            <td>转账类别：</td>
            <td>
                {{vtran.transferType}}
            </td>
        </tr>
        <tr>
            <td>转账额度：</td>
            <td>{{vtran.transferAmount}}</td>
            <td>转账前额度：</td>
            <td>{{vtran.previousAmount}}</td>
            <td>当前额度：</td>
            <td>{{vtran.currentAmount}}</td>
        </tr>
        <tr>
            <td>记录时间：</td>
            <td>{{moment(vtran.localCreationTime).format('YYYY-MM-DD HH:mm:ss')}}</td>
            <td>货币：</td>
            <td>{{vtran.currency}}</td>
            <td>汇率：</td>
            <td>{{vtran.exchangeRate}}</td>
        </tr>
        <tr>
            <td>IP：</td>
            <td>{{vtran.IP}}</td>
            &lt;!&ndash; <td>转账状态：</td>
            <td>{{vtran.flag}}</td> &ndash;&gt;
        </tr>
    </table>
</div>
<div class="fn-hide" id="betvt">
    <table class="ui-table ui-table-inbox" style="border:0;">
        <tr>
            <td>玩家帐号：</td>
            <td>{{vbet.playerName}}</td>
            <td>代理商编号：</td>
            <td>{{vbet.agentCode}}</td>
            <td>下注前剩余额度：</td>
            <td>{{vbet.beforeCredit}}</td>
        </tr>
        <tr>
            <td>游戏局号：</td>
            <td>{{vbet.gameCode}}</td>
            <td>玩家输赢额度：</td>
            <td>{{vbet.netAmount}}</td>
            <td>投注时间：</td>
            <td>
                {{moment(vbet.betTime).format('YYYY-MM-DD HH:mm:ss')}}
            </td>
        </tr>
        <tr>
            <td>游戏类型：</td>
            <td>{{vbet.gameType}}</td>
            <td>游戏玩法：</td>
            <td>{{vbet.playType}}</td>
            <td>投注金额：</td>
            <td>{{vbet.betAmount}}</td>
        </tr>
        <tr>
            <td>注单重新派彩时间：</td>
            <td>{{moment(vbet.recalcuTime).format('YYYY-MM-DD HH:mm:ss')}}</td>
            <td>货币：</td>
            <td>{{vbet.currency}}</td>
            <td>有效投注额度：</td>
            <td>{{vbet.validBetAmount}}</td>
        </tr>
        <tr>
            <td>登陆IP：</td>
            <td>{{vbet.loginIP}}</td>
            <td>转账状态：</td>
            <td>{{vbet.flag}}</td>
            <td>桌子编号：</td>
            <td>{{vbet.tableCode}}</td>
        </tr>
        <tr>
            <td>大厅类型：</td>
            <td>{{vbet.roundType}}</td>
            <td>备注：</td>
            <td colspan="3">{{vbet.mark}}</td>
        </tr>

    </table>
</div>
<div class="fn-hide" id="ct">
    <table class="ui-table ui-table-inbox">
        <tr>
            <td colspan="2">
                <input type="checkbox" ng-checked="bundles.cancelOnWin" disabled/> 中奖后停止追号
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td style="width:100px;">奖期</td>
            <td style="width:100px;">中奖金额</td>
            <td style="width:100px;">状态</td>
        </tr>
        <tr ng-repeat="t in bundles.tickets">
            <td>{{t.period}}</td>
            <td>{{t.prize|number:4}}</td>
            <td>{{t.won?'已中奖':vocabulary.name(t.status)}}</td>
        </tr>
    </table>
</div>
-->
