<link charset="utf-8" rel="stylesheet" href="/static/assets/css/find.css">
<div ng-show="step===1" class="container">
  <div class="content">
    <div class="maincenter">
      <div class="maincenter-box">
        <div class="maincenter-box-tip">
          <p class="ui-tiptext ui-tiptext-message">
            <i class="iconfont ui-tiptext-icon info"></i> 请输入您需要找回登录密码的用户名
          </p>
        </div>
        <form class="ui-form" id="J-findPwdForm" novalidate="novalidate" data-widget-cid="widget-4">
          <div class="ui-form-item">
            <label class="ui-label">用户名</label>
            <input ng-model="findingname" id="J-accName" name="logonId" class="ui-input" type="text" placeholder="用户名" maxlength="100" value="" data-explain=" " autocomplete="off" data-widget-cid="widget-5">
            <i class="loading"></i>
          </div>
          <div class="ui-form-item ui-form-item-last">
            <span ng-click="findname()" value="下一步" class="ui-button ui-button-mblue">下一步</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-show="step===2" class="container ">
  <div class="content">
  	<div class="maincenter">
  		<div class="maincenter-box">

    <p class="ft-14">
      您正在为账户 <em class="ft-green username">{{findingname}}</em> 重置登录密码，请选择找回方式：
    </p>
    <div class="infobox">
      <div ng-show="!option" class="ui-tipbox ui-tipbox-message" id="J-check-wait">
        <div class="ui-loading"></div>
        <div class="ui-tipbox-content">
          <h3 class="ui-tipbox-title">正在为您检测安全环境...</h3>
        </div>
      </div>
      <div ng-show="option" class="ui-tipbox ui-tipbox-success" id="J-check-ok">
        <div class="ui-tipbox-icon ui-icon-success">
          <i class="iconfont success"></i>
        </div>
        <div class="ui-tipbox-content">
          <h3 class="ui-tipbox-title">基于对您账户及操作环境的检测，我们将提供以下方式供您选择</h3>
        </div>
      </div>
      <div class="ui-tipbox ui-tipbox-error fn-hide" id="J-check-fail">
        <div class="ui-tipbox-icon ui-icon-error">
          <i class="iconfont error"></i>
        </div>
        <div class="ui-tipbox-content">
          <h3 class="ui-tipbox-title">抱歉，暂时无法操作，请稍后再试。</h3>
        </div>
      </div>
    </div>
    <ol class="select-strategy" id="J-select-strategy">
      <li ng-show="hasOption(option,'email')" class="fn-clear" id="choiceMail">
        <i class="icon iconfont ico-safeguard"></i>
        <div class="desc desc-hasnotice">
          <h3 class="title"><span class="text">通过电子邮箱</span><i class="iconfont recommend"></i></h3>
          <p class="notice">如果您的<b id="email_account">**{{theAccount(option,'email').substring(2,theAccount(option,'email').length)}}</b> 账户邮箱还在使用，请选择此方式</p>
        </div>
        <a ng-click="code(1)" class="ui-button ui-button-mblue j-strategy" data-method="email">立即找回</a>
      </li>
      <li ng-show="hasOption(option,'mobile')" class="fn-clear" id="choiceMobile">
        <i class="icon iconfont ico-mobile"></i>
        <div class="desc desc-hasnotice">
          <h3 class="title"><span class="text">通过手机</span><i class="iconfont recommend"></i></h3>
          <p class="notice">如果您的 <b id="mobile_account">{{theAccount(option,'mobile').substring(0,9)}}**</b> 账户手机还在使用，请选择此方式</p>
        </div>
        <a ng-click="code(2)" class="ui-button ui-button-mblue j-strategy" data-method="mobile">立即找回</a>
      </li>
      <li ng-show="hasOption(option,'ask')" class="fn-clear" id="choiceAsk">
        <i class="icon iconfont question"></i>
        <div class="desc desc-hasnotice">
          <h3 class="title"><span class="text">通过安全问题</span></h3>
          <p class="notice">回答您在至尊娱乐预设的安全问题，完全正确后直接重设密码。</p>
        </div>
        <a ng-click="showAsk()" class="ui-button ui-button-mblue j-strategy" data-method="ask">立即找回</a>
      </li>
      <li class="fn-clear">
        <i class="icon iconfont manual"></i>
        <div class="desc desc-hasnotice">
          <h3 class="title"><span class="text">通过人工服务</span></h3>
          <p class="notice">直接联系我们的在线客服专员，请耐心等待</p>
        </div>
        <a href="http://f88.live800.com/live800/chatClient/chatbox.jsp?companyID=516626&configID=128910&jid=5345867606" target="_blank" class="ui-button ui-button-mblue j-strategy">立即找回</a>
      </li>
    </ol>
    </div></div>
  </div>
</div>

<div ng-show="step===3||step===4" class="container">
  <div class="content">
    <div class="maincenter">
      <ol class="ui-step ui-step-diamond ui-step-blue ui-step-3">
        <li class="ui-step-start ui-step-active">
          <div class="ui-step-line">-</div>
          <div class="ui-step-icon">
            <i class="iconfont"></i>
            <i class="ui-step-number">1</i>
            <span class="ui-step-text">验证身份</span>
          </div>
        </li>
        <li>
          <div class="ui-step-line">-</div>
          <div class="ui-step-icon">
            <i class="iconfont"></i>
            <i class="ui-step-number">2</i>
            <span class="ui-step-text">重置登录密码</span>
          </div>
        </li>
        <li class="ui-step-end">
          <div class="ui-step-line">-</div>
          <div class="ui-step-icon">
            <i class="iconfont"></i>
            <i class="iconfont ui-step-number"></i>
            <span class="ui-step-text">找回成功</span>
          </div>
        </li>
      </ol>
      <div ng-show="step==3&&(step3==1||step3==2)" class="maincenter-box">
        <div class="maincenter-box-tip">
          <p class="ui-tiptext ui-tiptext-message">
            <i class="iconfont ui-tiptext-icon info"></i> 您正在使用 “<span class="strong">{{step3==1?'电子邮箱':'手机短信'}}</span>” 验证身份，请完成以下操作：
          </p>
        </div>
        <div ng-show="mailsent" class="sentmail mailtip">
          <p class="result">
            <i class="icon iconfont ico-safeguard"></i>邮件已发送到您的邮箱
            <span class="account">**{{theAccount(option,'email').substring(2,theAccount(option,'email').length)}}</span>。请按邮箱中的提示操作，完成身份验证。
          </p>
         
        </div>
        <div ng-show="mobilesent" class="sentmail mobiletip">
          <p class="result">
            <i class="icon iconfont ico-mobile"></i>验证短信已发送到您的手机
            <span class="account">{{theAccount(option,'mobile').substring(0,9)}}**</span>。请按短信中的提示操作，完成身份验证。
          </p>
          <p class="result">

          </p>
        </div>
        <form class="ui-form" id="J-inputCodeForm" method="post" action="">
          <div class="ui-form-item">
            <label class="ui-label">验证码</label>
            <input ng-model="incode" type="text" class="ui-input" data-explain="请输入您收到的4位验证码，不区分大小写。" data-display="验证码" autocomplete="off" value="" id="J-code" name="code">
            <div class="ui-form-explain">请输入您收到的4位验证码，不区分大小写。</div>
          </div>
          <div class="ui-form-item ui-form-item-last">
            <span ng-click="validCode()" type="submit" value="下一步" class="ui-button ui-button-mblue"> 下一步</span>
          </div>
        </form>
        <div class="resentmail">
          <p class="title">一直没有收到{{step3==1?'邮件':'短信'}}？</p>
          <ul class="ui-list">
            <li class="ui-list-item">
              <span ng-show="step3==1" class="ui-list-item-text">请先检查是否在垃圾邮件中。如果还未收到，请</span>
              <button ng-click="recode()" id="J-resend-mail" class="ui-button ui-button-sorange">点击重新发送{{step3==1?'邮件':'短信'}}</button>
              <span class="list-btn-explain" id="J-resend-success"></span>
            </li>
            <li class="ui-list-item">
              <span class="ui-list-item-text">还是收不到？请</span>
              <a ng-click="step=2">选择其他验证方式</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="maincenter-box" ng-show="step==3&&step3==3">
        <div class="maincenter-box-tip">
          <p class="ui-tiptext ui-tiptext-message">
            <i class="iconfont ui-tiptext-icon info"></i> 您正在使用 “<span class="strong">安全保护问题</span>” 验证身份，请填写以下信息：
          </p>
        </div>
        <form class="ui-form" id="J-findPwdForm" method="post" action="">
          <div class="ui-form-item">
            <label class="ui-label ui-label-reset">安全保护问题</label>
            <p class="ui-form-text" id="J-secQa-1">{{ask.title}}</p>
          </div>
          <div class="ui-form-item">
            <label class="ui-label">答案</label>
            <input ng-model="answer" type="text" class="ui-input" id="J-answer-1" name="answer1" value="" autocomplete="off">
          </div>
          <div class="ui-form-item ui-form-item-last">
            <span ng-click="validAsk()" type="submit" value="下一步" class="ui-button ui-button-mblue">下一步</span>
          </div>
        </form>
      </div>
      <div ng-show="step===4" class="maincenter-box">
        <div class="maincenter-box-tip">
          <p class="ui-tiptext ui-tiptext-message">
            <i class="iconfont ui-tiptext-icon info"></i> 您已完成验证，请重新设定登录密码：
          </p>
        </div>
        <form class="ui-form" id="J-findPwdForm" method="post" action="">

          <div class="ui-form-item">
            <label for="password" class="ui-label">新的登录密码：</label>
            <input ng-model="pwd" id="password" name="password" type="password" class="ui-input" data-explain="请输入6-20位的密码。" value="" />
            <div class="ui-form-explain">密码的长度必须大于或等于6。</div>
          </div>

          <div class="ui-form-item">
            <label for="password-confirmation" class="ui-label">确认新的登录密码：</label>
            <input ng-model="pwd2" id="password-confirmation" name="password-confirmation" type="password" class="ui-input" />
            <div class="ui-form-explain ui-tiptext">请再输入一遍。</div>
          </div>
          <div class="ui-form-item ui-form-item-last">
            <span ng-click="resetpwd()" type="submit" value="完成" class="ui-button ui-button-mblue"> 完成</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>