<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/styles/forbid.css"/>
</head>
<body>
    <div class="container">
        <div class="clearfix">
            <div class="logo"></div>
            <div class="balloon-con">
                <div class="balloon"></div>
                <div class="forbid-text">
                    由于您的国家和地区限制，我们无法为您提供服务。<br>
                    给您造成不便，敬请谅解。<br>
                    若有任何疑问，请联系我们的客服中心：<br>
                    <span class="red">Email:cs@xiaomi.com</span> 或7X24小时在线客服，谢谢！<br><br>
                    <div class="forbid-text2">
                        We regret that we are not able to provide service due to your location.<br>
                        Apologize for any inconvenience caused.<br>
                        Need assistance?Feel free to contact our <span class="red">Customer Service</span> Support 24/7<br>
                        via Live Chat or drop us an email to <span class="red">cs@xiaomi.com</span> which we would be<br>
                        delighted to assist you accordingly.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>