<div class="view">
    <div class="view-title">
        <span class="pay-icon"></span>
        帮助中心
    </div>
    <div class="view-tab">
        <ul>
            <li ng-click="tab=1" ng-class="{select:tab==1}" class="link">常见问题</li>
            <li ng-click="tab=2" ng-class="{select:tab==2}" class="link">玩法介绍</li>
            <li ng-click="tab=3" ng-class="{select:tab==3}" class="link">功能介绍</li>
            <li ng-click="tab=4" ng-class="{select:tab==4}" class="link">存取款说明</li>
        </ul>
    </div>
    <div class="view-content" ng-show="tab==1">
        <div class="help-item">
            <div class="help-ask">1、如何注册？</div>
            <div class="help-answer">用户寻找彩王代理进行开户注册，提供给代理账号•密码•昵称等， 彩王代理将会给您开设彩王账户。</div>
        </div>
        <div class="help-item">
            <div class="help-ask">2、注册时用户需要注意什么？</div>
            <div class="help-answer">用户名一旦提交，不可更改，请选择容易记忆且安全级别高的用户名，并妥善保管； 初始密码是不安全的，进入平台后，请先修改您的密码；</div>
        </div>
        <div class="help-item">
            <div class="help-ask">3、验证码有何作用？</div>
            <div class="help-answer">设置验证码是为了提高系统的安全性，它可以有效防止针对某个特定账号的暴力破解（即用特定程序进行不断的登录尝试），使用验证码也是目前各大平台网站通行的安全措施。
            </div>
        </div>
        <div class="help-item">
            <div class="help-ask">4、登录时为什么看不到验证码或总是提示验证码不正确？</div>
            <div class="help-answer">
                看不到验证码或者总是提示验证码输入错误，可能的原因有：<br>
                A：网速过慢，请多刷新几次页面；<br>
                B：输入错误，数字有全角和半角之分，请换用半角方式输入；<br>
                C：安全级别设置过高，请将IE的安全级别设为“默认级别”；<br>
                D：网页没有自动更新，请先设置浏览器的“Internet临时文件”为“自动”更新。<br>
                E：建议您使用IE7及以上的浏览器，最好选择火狐浏览器和谷歌浏览器登录平台
            </div>
        </div>
        <div class="help-item">
            <div class="help-ask">5、登录时忘记了密码怎么办？</div>
            <div class="help-answer">
                A：如果忘记平台登录密码，请点击用户登录区的“忘记密码”，输入资金密码，也可登陆彩王平台，为保障账户安全，建议用户登录后立即修改密码；<br>
                B：如果忘记平台登陆密码和资金密码，请联系您的上级或者平台客服，提供绑定的银行卡信息进行核实，如果属实，可重新设定密码；<br>
                C：如果…如果忘记与平台所相关的所有账号信息，请参考帮助中心的“如何注册”，重新申请账号。
            </div>
        </div>
        <div class="help-item">
            <div class="help-ask">6、如何修改登录密码？</div>
            <div class="help-answer">
                登录后进入“个人中心”，点击“基本信息”。<br>
                在“基本信息”条目下选择“密码设定”。<br>
                用户输入旧密码，并设置新密码。<br>
                提交信息，修改密码成功，系统提示成功信息。
            </div>
        </div>
    </div>
    <div class="view-content" ng-show="tab==2">
        <div class="help-play">
            <div class="help-tab-con clearfix">
                <div class="help-tab active">时时彩</div>
                <div class="help-tab">11选5</div>
                <div class="help-tab">时时乐</div>
                <div class="help-tab">排列三/五</div>
                <div class="help-tab">北京快乐八</div>
            </div>
            <div class="help-some">重庆时时彩、江西时时彩、黑龙江时时彩、天津时时彩、新疆时时彩</div>
        </div>
        <div class="help-over">
            <table class="table table-center">
                <tr>
                    <th width="63">玩法群</th>
                    <th width="70">玩法组</th>
                    <th width="87">玩法</th>
                    <th width="420">玩法说明</th>
                    <th>中奖示范</th>
                </tr>
                <tr>
                    <td rowspan="11">五星</td>
                    <td rowspan="2">五星直选</td>
                    <td>直选（复式）</td>
                    <td class="help-padding">从万位、千位、百位、十位、个位中选择一个5位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖。</td>
                    <td class="help-padding" rowspan="2">投注方案：13456； 开奖号码：13456，即中五星直选。</td>
                </tr>
                <tr>
                    <td>直选（复式）</td>
                    <td class="help-padding">
                        手动输入一个5位数号码组成一注，所选号码的万位、千位、百位、十位、个位与开奖号码相同，且顺序一致，即为中奖。<span class="red">(五星直选单式每注的最大投注为10000注,如果确实想投注更多的号码，请拆分成多注后进行)</span>
                    </td>
                </tr>
                <tr>
                    <td>五星组合</td>
                    <td>组合</td>
                    <td class="help-padding">
                        从万位、千位、百位、十位、个位中至少各选一个号码组成1-5星的组合，共五注，所选号码的个位与开奖号码相同，则中1个5等奖；所选号码的个位、十位与开奖号码相同，则中1个5等奖以及1个4等奖，依此类推，最高可中5个奖。)
                    </td>
                    <td class="help-padding">
                        五星组合示例，如购买：4+5+6+7+8，该票共10元，由以下5注：45678(五星)、5678(四星)、678(三星)、78(二星)、8(一星)构成。开奖号码：45678，即可中五星、四星、三星、二星、一星各1注。
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">五星组选</td>
                    <td>五星组选120</td>
                    <td class="help-padding">
                        从0-9中任意选择5个号码组成一注，所选号码与开奖号码的万位、千位、百位、十位、个位相同，顺序不限，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：10568，开奖号码：10568（顺序不限），即可中五星组选120。
                    </td>
                </tr>
                <tr>
                    <td>五星组选60</td>
                    <td class="help-padding">
                        选择1个二重号码和3个单号号码组成一注，所选的单号号码与开奖号码相同，且所选二重号码在开奖号码中出现了2次，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：二重号：8；单号：016，开奖号码：01688（顺序不限），即可中五星组选60。
                    </td>
                </tr>
                <tr>
                    <td>五星组选30</td>
                    <td class="help-padding">
                        选择2个二重号和1个单号号码组成一注，所选的单号号码与开奖号码相同，且所选的2个二重号码分别在开奖号码中出现了2次，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：二重号：68；单号：0，开奖号码：06688（顺序不限），即可中五星组选30。
                    </td>
                </tr>
                <tr>
                    <td>五星组选20</td>
                    <td class="help-padding">
                        选择1个三重号码和2个单号号码组成一注，所选的单号号码与开奖号码相同，且所选三重号码在开奖号码中出现了3次，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：三重号：8；单号：01，开奖号码：01888（顺序不限），即可中五星组选20。
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">五星组选</td>
                    <td>五星组选120</td>
                    <td class="help-padding">
                        从0-9中任意选择5个号码组成一注，所选号码与开奖号码的万位、千位、百位、十位、个位相同，顺序不限，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：10568，开奖号码：10568（顺序不限），即可中五星组选120。
                    </td>
                </tr>
                <tr>
                    <td>五星组选60</td>
                    <td class="help-padding">
                        选择1个二重号码和3个单号号码组成一注，所选的单号号码与开奖号码相同，且所选二重号码在开奖号码中出现了2次，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：二重号：8；单号：016，开奖号码：01688（顺序不限），即可中五星组选60。
                    </td>
                </tr>
                <tr>
                    <td>五星组选30</td>
                    <td class="help-padding">
                        选择2个二重号和1个单号号码组成一注，所选的单号号码与开奖号码相同，且所选的2个二重号码分别在开奖号码中出现了2次，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：二重号：68；单号：0，开奖号码：06688（顺序不限），即可中五星组选30。
                    </td>
                </tr>
                <tr>
                    <td>五星组选20</td>
                    <td class="help-padding">
                        选择1个三重号码和2个单号号码组成一注，所选的单号号码与开奖号码相同，且所选三重号码在开奖号码中出现了3次，即为中奖。
                    </td>
                    <td class="help-padding">
                        投注方案：三重号：8；单号：01，开奖号码：01888（顺序不限），即可中五星组选20。
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="view-content" ng-show="tab==4">
        <div class="help-play">
            <div class="help-tab-con clearfix">
                <div class="help-tab active">工行充值</div>
                <div class="help-tab">民生同行充值</div>
                <div class="help-tab">招行转民生</div>
                <div class="help-tab">建行转民生</div>
                <div class="help-tab">农行转民生</div>
                <div class="help-tab">工行转民生</div>
                <div class="help-tab">招行充值</div>
                <div class="help-tab">提现说明</div>
                <div class="help-tab">免责申明</div>
            </div>
            <div class="help-item-con">
                <div class="help-item">
                    <div class="help-ask">1、使用网上银行安全吗？</div>
                    <div class="help-answer">用户在彩王平台充值时选择任一银行卡支付通道后立即进入银行网关，银行卡资料全部在银行网关加密页面上填写，资料提交过程全部采用国际通用的SSL或SET及数字证书进行加密传输，安全性由银行全面提供支持和保护，各银行网上支付系统对网上支付的安全提供保障。</div>
                </div>
                <div class="help-item">
                    <div class="help-ask">2、通过网上充值，出现该页无法显示时怎么办？</div>
                    <div class="help-answer">
                        A：没有升级IE浏览器，导致加密级别过低，无法进入银行系统。 请升级到7.0及以上版本。<br>
                        B：上网环境或上网方式受限，可能是网络服务商限制，如有条件更换一种上网方式或环境。<br>
                        C：瞬间网络不通，尝试刷新页面；如果刷新不能解决问题，可能由于浏览器设置缓存，请在IE菜单—工具—Internet选项—点击“删除cookies”和“删除文件”，用以清除临时文件。
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-ask">3、如何修改已绑定银行卡？</div>
                    <div class="help-answer">
                        若您需要修改银行卡信息，而该信息已被绑定，无法修改，请点击“在线客服”与平台客服人员联系，客服与您确认个人信息会给您解除绑定，您就可以修改银行卡信息了。修改完后建议重新设定资金密码。
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-ask">4、银行充值提款的手续费怎么收取？</div>
                    <div class="help-answer">
                        A：我们会返还您的充值手续费至平台游戏币中；<br>
                        B：我们不收取提款手续费，无论是跨行或跨地区；<br>
                        C：若您提款需要汇入的银行是跨行或跨地区可能会有部分时间延误问题，少则几分钟，多则数小时，请耐心等待。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
