<div class="container">
    <div class="status">
        <div class="status-left clearfix">
            <div class="status-profile"></div>
            <span class="status-text">昵称:<label class="red"
                                                title="{{d.user.userName}}">{{d.user.userName}}</label></span>
            <span class="status-text">金额:<label class="red" ng-bind="d.mnys[0].balance|number:2"></label></span>
            <a href="#/trade/deposit" class="status-btn">充值</a>
            <a href="#/trade/withdraw" class="status-btn">提款</a>
            <a href="#/prefer/msg" class="status-btn status-btn-big">站内信<span class="status-warn">3</span></a>
        </div>
        <div class="status-right clearfix">
            <div class="status-notice-text">
                恭喜 e** 于 2014-12-19 19:52:01 中&nbsp;&nbsp;重庆时时彩 第20141219-083期&nbsp;&nbsp;奖金￥2,150.0000
            </div>
            <div class="status-notice"></div>
        </div>
    </div>
    <div class="banner-con">
        <div class="banner">
            <div class="cycle-slideshow"
                 data-cycle-slides=".banner-item"
                 data-cycle-fx="scrollHorz" data-cycle-log="false"
                 data-cycle-timeout="1000"
                 data-cycle-pager=".cycle-pager1"
                 data-cycle-pager-template="<span></span>"
                    >
                <div class="banner-item"
                     style='background: url("../static/images/login/banner.jpg") no-repeat top center;'></div>
                <div class="banner-item"
                     style='background: url("../static/images/login/banner.jpg") no-repeat top center;'></div>
                <div class="banner-item"
                     style='background: url("../static/images/login/banner.jpg") no-repeat top center;'></div>
                <div class="banner-item"
                     style='background: url("../static/images/login/banner.jpg") no-repeat top center;'></div>
            </div>
            <div class="cycle-pager cycle-pager1"></div>
        </div>
    </div>
    <div class="stuff clearfix">
        <div class="stuff-left">
            <div class="sth-title"><i class="icon-notice"></i>公告消息</div>
            <div class="sth-top"></div>
            <div class="sth-content">
                <div class="notice-item">
                    <b>充值需知</b><br>
                    必须添加用户编号,否则无法自动到帐！充值3分钟内到账，如未及时入账，请联系客服为您补单。<br>
                    2014/12/24 12:00:00
                </div>
                <div class="notice-item">
                    <b>平台充值送大礼啦！充多少送多少！！</b><br>
                    必须添加用户编号,否则无法自动到帐！充值3分钟内到账，如未及时入账，请联系客服为您补单。<br>
                    2014/12/24 12:00:00
                </div>
                <div class="notice-item">
                    <b>平台充值送大礼啦！充多少送多少！！</b><br>
                    必须添加用户编号,否则无法自动到帐！充值3分钟内到账，如未及时入账，请联系客服为您补单。如未及时入账，请联系客服为您补单。如未及时入账，请联系客服为您补单。如未及时入账，请联系客服为您补单。<br>
                    2014/12/24 12:00:00
                </div>
            </div>
            <div class="sth-footer"></div>
        </div>
        <div class="stuff-right">
            <div class="sth-title sth-title-s"><i class="icon-new"></i>最新彩种<a class="sth-more" href="#">更多>></a></div>
            <div class="sth-top"></div>
            <div class="sth-content sth-content2 clearfix">
                <div class="reward-item">
                    <div class="reward-item-top clearfix">
                        <div class="reward-item-triangle"></div>
                        <div class="reward-item-title">重庆时时彩</div>
                        <a href="#" class="reward-item-go">号码走势</a>
                    </div>
                    <div class="reward-period">
                        第20141219-0902期
                    </div>
                    <div class="reward-bg clearfix">
                        <div class="reward-bg-inner">
                            <span>6</span>
                            <span>0</span>
                            <span>6</span>
                            <span>0</span>
                            <span>8</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <a href="#/game/cqssc" class="reward-go">
                            立即投注
                        </a>
                    </div>
                </div>
                <div class="reward-item">
                    <div class="reward-item-top clearfix">
                        <div class="reward-item-triangle"></div>
                        <div class="reward-item-title">重庆时时彩</div>
                        <a href="#" class="reward-item-go">号码走势</a>
                    </div>
                    <div class="reward-period">
                        第20141219-0902期
                    </div>
                    <div class="reward-bg clearfix">
                        <div class="reward-bg-inner">
                            <span>6</span>
                            <span>0</span>
                            <span>6</span>
                            <span>0</span>
                            <span>8</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="reward-go">
                            立即投注
                        </div>
                    </div>
                </div>
                <div class="reward-item nomr">
                    <div class="reward-item-top clearfix">
                        <div class="reward-item-triangle"></div>
                        <div class="reward-item-title">重庆时时彩</div>
                        <a href="#" class="reward-item-go">号码走势</a>
                    </div>
                    <div class="reward-period">
                        第20141219-0902期
                    </div>
                    <div class="reward-bg clearfix">
                        <div class="reward-bg-inner">
                            <span>6</span>
                            <span>0</span>
                            <span>6</span>
                            <span>0</span>
                            <span>8</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="reward-go">
                            立即投注
                        </div>
                    </div>
                </div>
                <div class="reward-item">
                    <div class="reward-item-top clearfix">
                        <div class="reward-item-triangle"></div>
                        <div class="reward-item-title">重庆时时彩</div>
                        <a href="#" class="reward-item-go">号码走势</a>
                    </div>
                    <div class="reward-period">
                        第20141219-0902期
                    </div>
                    <div class="reward-bg clearfix">
                        <div class="reward-bg-inner">
                            <span>6</span>
                            <span>0</span>
                            <span>6</span>
                            <span>0</span>
                            <span>8</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="reward-go">
                            立即投注
                        </div>
                    </div>
                </div>
                <div class="reward-item">
                    <div class="reward-item-top clearfix">
                        <div class="reward-item-triangle"></div>
                        <div class="reward-item-title">重庆时时彩</div>
                        <a href="#" class="reward-item-go">号码走势</a>
                    </div>
                    <div class="reward-period">
                        第20141219-0902期
                    </div>
                    <div class="reward-bg clearfix">
                        <div class="reward-bg-inner">
                            <span>6</span>
                            <span>0</span>
                            <span>6</span>
                            <span>0</span>
                            <span>8</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="reward-go">
                            立即投注
                        </div>
                    </div>
                </div>
                <div class="reward-item nomr">
                    <div class="reward-item-top clearfix">
                        <div class="reward-item-triangle"></div>
                        <div class="reward-item-title">重庆时时彩</div>
                        <a href="#" class="reward-item-go">号码走势</a>
                    </div>
                    <div class="reward-period">
                        第20141219-0902期
                    </div>
                    <div class="reward-bg clearfix">
                        <div class="reward-bg-inner">
                            <span>6</span>
                            <span>0</span>
                            <span>6</span>
                            <span>0</span>
                            <span>8</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="reward-go">
                            立即投注
                        </div>
                    </div>
                </div>
            </div>
            <div class="sth-footer"></div>
        </div>
    </div>
</div>