<div class="view">
    <div class="view-title">
        <span class="pay-icon"></span>
        个人中心
    </div>
    <div class="view-tab">
        <a href="#/prefer/answer" ng-class="{select:tab=='answer'}" class="link">修改昵称</a>
        <a href="#/prefer/pass" ng-class="{select:tab=='pass'}" class="link">密码设定</a>
        <a href="#/prefer/card" ng-class="{select:tab=='card'}" class="link">彩种信息</a>
        <a href="#/prefer/msg" ng-class="{select:tab=='msg'}" class="link">站内信</a>
    </div>
    <div class="view-content">

    </div>
</div>
