<audio id="raceing_audio" style="">
    <source src="/static/sound/raceing.mp3"/>
</audio>
<div class="pk10_con">
    <div class="pk10_main">
        <div class="pk10_mid">
            <div class="pk10_left">
                <div class="pk_kaijiang">
                    <div class="pk_kai_top">第{{previous.signature}}期{{previous.numbers?'开奖结果':'准备开奖'}}</div>
                    <div class="pk_kai_bot">
                        <ul>
                            <li ng-show="previous.numbers" ng-repeat="n in previous.showNumbers"
                                class="pk_num{{n.num}}"></li>
                        </ul>
                    </div>
                </div>
                <!--pk_kaijiang end-->
                <div ng-hide="!previous.numbers||raceing" class="pk_mingci">
                    <!--排名-->
                    <div ng-repeat="n in previous.showNumbers" id="divR{{$index+1}}" class="mingcidiv">
                        第{{chinese[$index]}}名
                        <div class="divcar{{n.num}}"></div>
                    </div>
                </div>
                <!--pk_mingci end-->
                <div ng-show="raceing" class="pkkaijiang_dh">
                    <!--开奖动画-->
                    <div class="divTrackFinal">
                        <div class="checker"></div>
                    </div>
                    <div id="divTrack1" style="right: 890px;"></div>
                    <div id="divGameCar6">
                        <div class="divcar6"></div>
                    </div>
                    <div id="divGameCar2">
                        <div class="divcar2"></div>
                    </div>
                    <div id="divGameCar5">
                        <div class="divcar5"></div>
                    </div>
                    <div id="divGameCar4">
                        <div class="divcar4"></div>
                    </div>
                    <div id="divGameCar8">
                        <div class="divcar8"></div>
                    </div>
                    <div id="divGameCar3">
                        <div class="divcar3"></div>
                    </div>
                    <div id="divGameCar1">
                        <div class="divcar1"></div>
                    </div>
                    <div id="divGameCar9">
                        <div class="divcar9"></div>
                    </div>
                    <div id="divGameCar10">
                        <div class="divcar10"></div>
                    </div>
                    <div id="divGameCar7">
                        <div class="divcar7"></div>
                    </div>
                    <a ng-click="mute()" href="javascript:;" class="sound_on"></a>
                </div>
                <!--pkkaijiang_dh end-->
                <div ng-hide="previous.numbers||raceing" class="pk10clock">
                    <!--开奖倒计时-->
                    <div class="pkclock"><span class="span1">{{previous.signature}}</span> 开奖倒数：<span class="span2">{{lottoingCountDown}}</span>
                    </div>
                </div>
                <!--pk10clock end-->
                <div ng-init="showtag='p'" class="kaijiang_bts">
                    <div class="jinritouzhu">
                        <a ng-click="loadRecords()" href="javascript:void(0);" ng-class="{current:showtag==='record'}">今日投注</a>
                        <a ng-click="showtag='p'" href="javascript:void(0);" ng-class="{current:showtag==='p'}">今日开奖</a>
                    </div>
                    <span><a href="#/data/ticket" target="_blank">游戏记录</a>|<a
                            href="/his.html?type={{lotto.histype}}&game={{lotto.label}}&length=30"
                            target="_blank">历史开奖</a></span>
                </div>
                <!--kaijiang_bts end-->
                <div class="touzhu_tabdiv">
                    <div ng-show="showtag==='record'" class="touzhu1">
                        <!--今日投注-->
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <th>期号</th>
                                <th>金额</th>
                                <th>状态</th>
                                <th>奖金</th>
                            </tr>
                            <tr ng-repeat="r in records">
                                <td>{{r.period}}</td>
                                <td>{{r.amount|number:2}}</td>
                                <td ng-class="{'LOTTERY':r.won}">{{r.won?'已中奖':vocabulary.name(r.status)}}</td>
                                <td>¥{{r.prize|number:2}}</td>
                            </tr>
                        </table>
                    </div>
                    <!--touzhu1 end-->
                    <div ng-show="showtag==='p'" class="touzhu1" style=";">
                        <!--今日开奖-->
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <th>期号</th>
                                <th>开奖号码</th>
                            </tr>
                            <tr ng-repeat="p in recent">
                                <td>{{p.signature}}</td>
                                <td>{{p.numbers}}</td>
                            </tr>
                        </table>
                    </div>
                    <!--touzhu1 end-->
                </div>
                <!--touzhu_tabdiv end-->
            </div>
            <!--pk10_left end-->
            <div class="pk10_right">
                <div class="pk_r_top">
                    <div class="kai_daoshu">第{{curPeriod.signature}}期&nbsp;&nbsp;剩余投注时间<span>{{countDown}}</span></div>
                </div>
                <!--pk_r_top end-->
                <div class="betrightmain">
                    <div class="pk_bet_con">
                        <div class="pkbet_top">
                            <ul>
                                <li ng-repeat="tab in lotto.tabs" class="pkfirstli">
                                    <a href="javascript:;" class="cai_a" ng-class="{current:tab==currentTab}"
                                       ng-click="selTab(tab)">{{tab.name}}</a>
                                    <ul ng-if="tab.methodgroups[0].methods.length>0" class="pkbetlist">
                                        <li ng-click="selMethod(methodgroup,method,tab)"
                                            ng-repeat="method in tab.methodgroups[0].methods">{{method.name}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--pkbet_top end-->
                        <div class="betnumers">
                            <div class="betshuru">
                                <div class="shurutab">
                                    <!-- <a href="#" class="cur_shuru">常规录入（复式）</a>
                                    <a href="#">手工录入（单式）</a> -->
                                </div>
                                <div class="luruwanfa">
                                    <div class="shuomingdiv">
                                        {{currentMethod.name}}
                                        <a class="wanfashuoming"></a>

                                        <div class="shuomingwenzi">{{currentMethod.tip}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="betnum_main">
                                <!--号码为数字-->
                                <div ng-repeat="row in currentMethod.rows"
                                     ng-if="currentMethod.spec=='number'||currentMethod.spec=='teshuhao'||currentMethod.spec=='box'"
                                     class="betnum_div">
                                    <div class="mc_num">{{row.name}}</div>
                                    <ul class="mccardiv">
                                        <li ng-click="selNum(row,n)" ng-repeat="n in row.nums"><a
                                                ng-class="{'current':curTicket[row.name][n.value]==1}"
                                                href="javascript:void(0);">{{n.value}}</a>
                                    </ul>
                                    <div class="odd_even">
                                        <a ng-click="selAll(row)" href="javascript:void(0);">全</a><a
                                            ng-click="selOdd(row)" href="javascript:void(0);">奇</a><a
                                            ng-click="selEven(row)" href="javascript:void(0);">偶</a>
                                        <a ng-click="selBig(row)" href="javascript:void(0);">大</a><a
                                            ng-click="selSmall(row)" href="javascript:void(0);">小</a><a
                                            ng-click="selNone(row)" href="javascript:void(0);">清</a>
                                    </div>
                                    <!--odd_even end-->
                                </div>
                                <!--betnum_div end-->
                            </div>
                            <!--betnum_main end-->
                            <div ng-if="currentMethod.spec=='daxiaodanshuang'" class="bet_bts_main" style=";">
                                <!---号码为按钮-->
                                <div ng-repeat="row in currentMethod.rows" class="betdanshuang">
                                    <div ng-click="selNum(row,n)" ng-repeat-start="n in row.nums"
                                         ng-class="{'danx_num':$index%2==0,'shuangd_num':$index%2==1}"><a
                                            ng-class="{'current':curTicket[row.name][n.trueValue]==1}" href="">{{n.value}}</a>
                                    </div>
                                    <div ng-repeat-end ng-if="$index==1" class="vs_div"></div>
                                    <!-- <div class="shuangd_num"><a ng-class="{'current':curTicket[row.name][n.value]==0}" href="">双</a></div> -->
                                </div>
                            </div>
                            <!--bet_bts_main end-->
                            <div ng-if="currentMethod.spec=='luru'" class="shurutext">
                                <!--手动输入div-->
                                <div ng-click="luru.text=''" class="qingkong_div">
                                    <input type="button" value="清 空" class="quxiao_zhuihao">
                                </div>
                                <div class="textarea_div">
                                    <textarea ng-model="luru.text"></textarea>
                                </div>
                                <div>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <div class="td_pro_1">
                                                    提示：
                                                    <br> 请把您已有的大底号码复制或者输入到下边文本框中。
                                                    <br> 每注号码之间必须用;隔开,
                                                    <br> 每注号码每位之间必须用,分开。
                                                    <br> 仅支持单式
                                                </div>
                                            </td>
                                            <td>
                                                <div class="td_pro_2">
                                                    例如：
                                                    <br>{{currentMethod.code=='2*DS'?'1,2;4,5':'1,2,3;4,5,6'}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!--shurutext end--->
                        </div>
                        <!--betnumers end-->
                    </div>
                    <!--pk_bet_con end-->
                    <div class="pk10_bet_moshi">
                        <div class="jianjinmoshi">奖金模式
                            <input readOnly type="text"
                                   value="{{(selBrokerage.max-selBrokerage.val)/20|number:1}}%/{{currentMethod.base*(selBrokerage.val/2000) | number:2}}"/>
                        </div>
                        <div class="gundongtiao">
                            <div style="width: 122px;display: inline-block;position: relative;top: 4px;left: 6px;"
                                 ui-slider min="{{selBrokerage.min}}" max="{{selBrokerage.max}}" step="2" use-decimals
                                 ng-model="selBrokerage.val"></div>
                        </div>
                        <div class="yuanjiaofen" ng-init="mode=0">
                            <a href="javascript:void(0);" ng-class="{current:mode===0}" ng-click="mode=0">元</a>
                            <a href="javascript:void(0);" ng-class="{current:mode===1}" ng-click="mode=1">角</a>
                            <a href="javascript:void(0);" ng-class="{current:mode===2}" ng-click="mode=2">分</a></div>
                        <div class="pk10_xh_bt">
                            <input ng-click="add2basket()" type="button" value="选号"/>
                        </div>
                    </div>
                    <!--pk10_bet_moshi end-->
                    <div class="total_zhushu">
                        注数：<span>{{selectingQty}} </span> 合计：
                        <span>¥{{selectingMny()|number:2}}</span> 倍数：
                        <input ng-click="multi=multi-1>0?multi-1:1" type="button" class="jian_moshi">
                        <input select-on-click ng-init="multi=1" ng-model="multi" ng-change="checkCurrMultiple($event)"
                               type="text" class="beis_input2"/>
                        <input ng-click="multi=multi*1+1<=65535?multi*1+1:65535" type="button" class="jia_moshi"/>
                        <a ng-click="removeTickets()" href="javascript:void(0);" class="zhushu_del_all"></a>
                    </div>
                    <!--total_zhushu end-->
                    <div class="touzhutable">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>玩法</th>
                                <th>投注内容</th>
                                <th>注数</th>
                                <th>倍数</th>
                                <th>模式</th>
                                <th>投注金额</th>
                                <th>删除</th>
                            </tr>
                            <tr ng-repeat="t in tickets">
                                <td>{{t.title}}</td>
                                <td>{{t.num}}</td>
                                <td>{{t.qty}}注</td>
                                <td>{{t.multi}}倍</td>
                                <td>{{t.mode==0?'元':''}}{{t.mode==1?'角':''}}{{t.mode==2?'分':''}}</td>
                                <td>¥{{t.mny|number:2}}</td>
                                <td><a ng-click="removeTicket($index)" href="" class="touzhudel">×</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="total_zhushu touzhubot_div">
                        总注数：<span>{{t_qty_sum}}</span> 总金额：
                        <span>¥{{t_mny_sum|number:2}}</span> 彩票余额：
                        <span>¥{{currMny|number:2}}</span>
                        <input ng-show="tickets.length===1" ng-click="isChase=!isChase" class="total_zh" type="button"
                               value="我要追号"/>
                        <input ng-show="tickets.length>0" ng-click="purchaseMulti()" class="total_sure" type="button"
                               value="确认投注"/>
                    </div>
                </div>
                <!--betrightmain end-->
            </div>
            <!--pk10_right end-->
            <div class="clear_float"></div>
            <div ng-init="chase.chaseType='same'" ng-show="isChase" class="zhuihao_con">
                <div class="zhuihao_title">我要追号<a ng-click="isChase=false" href="#">×</a></div>
                <div class="zhuihao_mid">
                    <div class="pkzh_div">
                        &nbsp;&nbsp; 追&nbsp;
                        <input select-on-click ng-init="chase.chaseCount=5" ng-model="chase.chaseCount" type="text"
                               class="zhqishu"/>&nbsp;期(包含当前最多追96期)
                    </div>
                    <div class="pkzh_div">
                        <input ng-model="chase.chaseType" value="same" type="radio" checked="checked"/>&nbsp;固定倍数追号&nbsp;&nbsp;<span
                            ng-hide="chase.chaseType==='times'">倍数&nbsp;
                <input ng-model="chase.chaseMulti" type="text" class="zhqishu"/></span>
                        <input ng-model="chase.chaseType" value="times" type="radio" checked="checked"/>&nbsp;翻倍追号
                        &nbsp;&nbsp;隔&nbsp;
                        <input ng-show="chase.chaseType==='times'" ng-init="chase.chaseGutter=1" select-on-click
                               ng-model="chase.chaseGutter" type="text" class="zhqishu">&nbsp;期&nbsp;&nbsp; 倍数×
                        <input ng-show="chase.chaseType==='times'" ng-init="chase.chaseTimes=2" select-on-click
                               ng-model="chase.chaseTimes" type="text" class="zhqishu"/>
                    </div>
                    <!--  <div class="zhuihao_sc_div">
                          <input type="button" value="生成">
                        </div> -->
                    <div class="zhtoutu_div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th width="50">序号</th>
                                <th width="280">期号</th>
                                <th width="100">倍数</th>
                                <th width="200">金额</th>
                                <th>截止时间</th>
                            </tr>
                            <tr ng-repeat="p in futurePeriods|limitTo:chase.chaseCount">
                                <td align="center">
                                    {{$index+1}}
                                </td>
                                <td style="padding-left:20px;">{{p.signature}}</td>
                                <td style="padding-left:25px;">
                                    <input ng-change="chaseSum()" select-on-click ng-model="p.chaseMulti" type="text"
                                           class="number" style="width:50px;">&nbsp;倍
                                </td>
                                <td align="center">￥{{p.chaseMulti/tickets[0].multi*tickets[0].mny|number:2}}</td>
                                <td align="center">{{moment(p.openTime).format('YYYY-MM-DD HH:mm:ss')}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="zhuh_submit">
                        <input ng-model="cancelOnWin" type="checkbox"/>&nbsp;<span class="span_1">中奖停止后，当某期中奖后，自动撤销后面期数的追号注单</span>
                        单期
                        <span>{{tickets[0].qty}}</span>注,购买<span>{{chase.chaseCount}}</span>期,合计<span>¥{{chase_sum}}</span>
                        <input ng-click="purchaseMulti()" type="button" value="投注" class="total_sure"/>
                        <input ng-click="isChase=false;" type="button" class="quxiao_zhuihao" value="取消追号"/>
                    </div>
                </div>
                <!--zhuihao_mid end-->
            </div>
            <!--zhuihao_con end-->
        </div>
        <!--pk10_mid end-->
    </div>
    <!--pk10_main end-->
</div>
<!--pk10_con end-->