<div class="view">
    <div class="view-title">
        <span class="pay-icon"></span>
        帐户管理
    </div>
    <div class="view-tab">
        <a ng-click="bigtab=1" ng-class="{select:bigtab==1}" class="link">直接开户</a>
        <a ng-click="bigtab=2" ng-class="{select:bigtab==2}" class="link">链接开户</a>
    </div>
    <div class="view-content">
        <div class="setting-con" ng-show="bigtab==1">
            <div class="deposit-row clearfix">
                <span class="deposit-label deposit-label2">用户类型：</span>
                <label><input type="radio" name="type" checked>代理</label>
                <label><input type="radio" name="type">会员</label>
            </div>
            <div class="deposit-row clearfix">
                <span class="deposit-label deposit-label2">用户名：</span>
                <input type="text" class="input_1">
                <span class="deposit-big">由数字或字母的6-16个字符组成，不能连续四位相同的字符，首字母不能以0或o开头</span>
            </div>
            <div class="deposit-row clearfix">
                <span class="deposit-label deposit-label2">昵称：</span>
                <input type="text" class="input_1">
                <span class="deposit-big">2至6个字符组成</span>
            </div>
            <div class="deposit-row clearfix">
                <span class="deposit-label deposit-label2">密码：</span>
                <input type="text" class="input_1">
                <span class="deposit-big">由数字和数字6-16个字符组成</span>
            </div>
            <div>
                <div class="subtitle">返点设置</div>
                <div class="setting-p">
                    您的返点级别：<b class="red">6.4</b><br>
                    <span class="red">设置说明示例：您的自身返点为1.0,而您在下面“自身保留返点”处选择0.2，那么您开设新账户的返点为0.8<br></span>
                    自身保留返点：
                    <select class="option">
                        <option>0.0</option>
                    </select>

                    <div class="setting-btn">
                        <a href="javascript:;"><img src="../static/images/level/open.png" width="123" height="50"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="setting-con setting-con2" ng-show="bigtab==2">
            <div class="subtitle2">第一步：设置返点及开户类型</div>
            <div class="deposit-row clearfix">
                <span class="deposit-label deposit-label2">返点：</span>
                <select class="option">
                    <option>6.3</option>
                </select>
            </div>
            <div class="deposit-row clearfix">
                <span class="deposit-label deposit-label2">用户类型：</span>
                <label><input type="radio" name="type2" checked>代理</label>
                <label><input type="radio" name="type2">会员</label>
            </div>
            <div class="setting-btn2">
                <a href="javascript:;"><img src="../static/images/level/setting.png" width="123" height="50"></a>
            </div>
            <div class="subtitle2">第二步：生成链接并分享</div>
            <div style="padding-left: 43px;">
                <div style="margin-top: 20px;">请选择返点和代理方式生成链接</div>
                <div class="red" style="margin-top: 25px;">
                    提示：您可以推广此链接地址，用于开户。
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="R_con">
          <div class="font04">修改资金密码： </div>
          <div ng-show="status=='err_paypwd'" class="ui-tiptext-container ui-tiptext-container-error">
            <p class="ui-tiptext ui-tiptext-error">
              <i class="ui-tiptext-icon iconfont error" title="出错"></i>
              <span>{{msg_paypwd}}</span>
            </p>
          </div>
          <div ng-show="status=='ok_paypwd'" class="ui-tiptext-container ui-tiptext-container-success">
            <p class="ui-tiptext ui-tiptext-success">
              <i class="ui-tiptext-icon iconfont success" title="成功"></i> 资金密码修改成功。
            </p>
          </div>
          <div class="line_style01"></div>
          <table width="100%" border="0" align="left" cellpadding="3" cellspacing="0" class="table_s02">
            <tr>
              <td width="171" height="30" align="right">输入原资金密码：</td>
              <td>
                <input ng-model="oldpaypwd" ng-disabled="d.user.hasPayPwd!==1" id="oldpaypwd" name="原资金密码" class="input_1" type="password">
                <div ng-show="d.user.hasPayPwd!==1" class="ui-form-explain">您尚未设置自己密码，原资金密码不可输入，请直接输入新资金密码。</div>
                <div ng-show="d.user.hasPayPwd==1&&oldpaypwd.length<6" class="ui-form-explain">资金密码的长度必须大于或等于6。</div>
              </td>
            </tr>
            <tr>
              <td width="171" height="30" align="right">输入新资金密码：</td>
              <td>
                <input ng-model="paypwd" id="paypassword" name="新资金密码" type="password" class="input_1" required="" minlength="6" data-widget-cid="widget-13" data-explain="资金密码的长度必须大于或等于6。">
                <div ng-show="paypwd.length<6" class="ui-form-explain">资金密码的长度必须大于或等于6。</div>
              </td>
            </tr>
            <tr>
              <td height="30" align="right">确认新资金密码：</td>
              <td>
                <input ng-model="paypwd2" id="paypassword-confirmation" name="paypassword-confirmation" type="password" required="" class="input_1" data-rule="confirmation{target: '#paypassword'}" data-widget-cid="widget-14" data-explain="">
                <div ng-show="paypwd2.length<6" class="ui-form-explain">资金密码的长度必须大于或等于6。</div>
                <div ng-show="paypwd2!=paypwd" class="ui-form-explain">两次输入的密码不一致</div>
              </td>
            </tr>
            <tr>
              <td height="30" align="right">&nbsp;</td>
              <td>
                <a ng-click="modiPayPwd()" href="javascript:;"><img src="images/level/but06.png" width="148" height="45" onmouseover="this.src='images/level/but06_on.png'" onmouseout="this.src='images/level/but06.png'" /></a>
              </td>
            </tr>
          </table>
        </div>-->
</div>
